@use "../../abstracts";

.popup {
    margin-top: 160px;

    &__heading {
        margin-top: 8px;
        width: 409px;
    }

    &__inner {
        position: relative;
        margin-top: 60px;

        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 40px 60px;

        text-align: center;

        @include abstracts.screen(lg) {
            grid-template-columns: repeat(2, auto);
            gap: 40px;
        }

        @include abstracts.screen(md) {
            grid-template-columns: auto;
            gap: 40px;
        }
    }

    &__decor {
        position: absolute;
        top: -126px;
        right: -167px;
    }
}
