@use "../../abstracts";

.visitor {
    margin-top: 160px;

    &__label,
    &__heading {
        display: block;
        text-align: center;
    }

    &__widgets {
        margin-top: 83px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        row-gap: 30px;

        @include abstracts.screen(lg) {
            flex-direction: column;
        }
    }

    &__widget {
        width: 44%;
        padding: 58px 25px 30px;
        border-radius: 8px;
        background: #292932;

        @include abstracts.screen(lg) {
            width: 60%;
        }

        @include abstracts.screen(md) {
            width: 100%;
        }
    }
}
