<div class="container footer__container">
    <div class="footer__inner">
        <!-- Logo -->
        <h2 class="logo logo__text footer-logo__text">Togi</h2>

        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Product</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Resources</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">About</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Help</a>
                </li>
            </ul>
        </nav>

        <p class="copyright footer__copyright">© 2022 UIHUT | All Right Reserved</p>
    </div>
</div>
