.hero-menu {
    &__text {
        display: inline-block;
        margin-left: 12px;

        color: #d2efff;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.6rem;

        transform: rotate(-90deg);
        transform-origin: left top;
    }

    &__icon {
        display: block;
        translate: -50%;
        margin: 16px 0 0 17px;
    }
}
